footer{
    background-color: #a8a07a;
    padding:25px 200px;
    color: 	#5B4B00;
}
#footerall{
    display: flex;
    ul{
        li{
            display: inline-block;
            margin-right: 25px;
        }
    }
}
#footerleft{
    flex-basis: 60%;
    ul{
        li{
            padding-right: 50px;
            a{
                color: #5B4B00;
            }
        }
    }
}
#footerright{
    flex-basis: 40%;
    text-align: right;
    padding-right: 200px;
}