@import "_footer.scss";
#ftbg{
    padding: 50px;
    background-color: 	white;
    height: 85vh;
}
#ftbg-1{
    padding: 100px;
    background-color: 	#F0F0F0;
    height: 110vh;
}
#ftbg-2{
    padding: 50px;
    background-color: 	white;
    height: 100vh;
}
#ftbg-3{
    padding: 50px;
    background-color: 	#F0F0F0;
    height: 90vh;
    text-align: center;
    img{
        margin-bottom: 95px;
    }
    p{
        font-size: 18px;
        font-weight: bold;
    }
}
#set-1{
    margin: 150px 50px 50px 50px;
}
.box{
    display: flex;
    div{
        iframe{
            min-height: 250px;
        }
    }
}
.box1{
    flex-basis: 50%;
}
.box2{
    flex-basis: 50%;
}
.box-1{
    flex-basis: 33.3%;
    padding: 10px;
}
.box-2{
    flex-basis: 33.3%;
    padding: 10px;
}
.box-3{
    flex-basis: 33.3%;
    padding: 10px;
}
.word{
    font-size: 18px;
}
#photo{
    height: auto;
    width: 500px;
    padding-left: 50px;
}
#boxes{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#box--1{
    flex-basis: 80%;
    margin-top: 100px;
    margin-bottom: 150px;
}
#box--2{
    flex-basis: 20%;
}