@import "_footer.scss";
.ftbg{
    padding: 50px;
    background-color: 	#F0F0F0;
}
#ftbg{
    padding: 50px;
    background-color: 	#F0F0F0;
    height: 90vh;
}
.box{
    display: flex;
}
.box1{
    flex-basis: 50%;
}
.box2{
    flex-basis: 50%;
}
.box-1{
    flex-basis: 33.3%;
    padding: 10px;
}
.box-2{
    flex-basis: 33.3%;
    padding: 10px;
}
.box-3{
    flex-basis: 33.3%;
    padding: 10px;
}
.word{
    font-size: 18px;
}
#photo{
    height: auto;
    width: 500px;
    padding-left: 50px;
}