@import "_footer.scss";
.touch{
    li{
        list-style-type: disc;
        a{
            text-decoration: none;
            color: #645450;
            &:hover{
                border-bottom: 2px solid #645450;
                }
        }
    }
}
#catalog{
    li{
        a{
            font-size: 18px;
        }
    }
}
.bg{
    background-color: #f2ede7;
    padding: 25px 150px 20px 150px;
    color: #413f44;
    p{
        font-size: 18px;
    }
}
#spbgset{
    height: 72.3vh;
    display: flex;
}
#centerset{
    margin:  auto ;
}
.title{
    font-size: 28px;
    font-weight: bold;
}
.wordsetting{
    font-size: 20px;
    font-weight: bold;
}
.boxsetting{
    color: #645450;
    div{
        h3{
            text-align: center;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        div{
            h4{
                text-align: center;
                font-weight: bold;
            }
            ol{
                li{
                    ul{
                        list-style-type: disc;
                    }
                }
            }
        }
    }
}
.bordertpset{
    border-top: 5px solid #79b1d6;
    border-radius: 30px 30px 0 0;
}
.borderlfset{
    border-left: 5px solid #79b1d6;
}
.borderrtset{
    border-right: 5px solid #79b1d6;
}
.borderbtset{
    border-bottom: 5px solid #79b1d6;
    border-radius: 0 0 30px 30px;
}
.setting2{
    div{
        text-align: center;
        div{
            text-align: center;
            div{
                img{
                    max-height: 820px;
                    max-width: 579.6px;
                }
            }
        }
        h4{
            padding-top: 10px;
            margin-bottom: 10px;
        }
    }
}
#boxdesign{
    border-bottom: 2px dashed #413f44;
    margin-bottom: 20px; ;
}
.box{
    display: flex;
}
.box1{
    flex-basis: 50%;
    padding: 10px;
}
.box2{
    flex-basis: 50%;
    padding: 10px;
}
.vertical{
    display: flex;
    div{
        margin: auto;
    }
}
.darkbg{
    background-color: #a8a07a;
}
.lightbg{
    background-color: #e3d5b0;
}
.videobox{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}
.videobox-1{
    flex-basis: 33.3%;
    height: 315px;
}
.videobox-2{
    flex-basis: 33.3%;
}
.videobox-3{
    flex-basis: 33.3%;
    height: 315px;
}
.buttonset{
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
    color: #fff9e9;
    background-color: #79b1d6;
    border: 5px solid #79b1d6;
    border-radius: 30px;
    transition-duration: 0.4s;
    text-align: center;
    &:hover{
        background-color: #fff9e9;
        color: #79b1d6;
    }
}
.ulbutton{
    border: 5px solid #645450;
    border-radius: 10px;
    background-color: #645450;
    color: #f2ede7;
    font-size: 18px;
    transition-duration: 0.4s;
    text-align: center;
    &:hover{
        background-color: #f2ede7;
        color: #645450;
    }
}
.box--1{
    flex-basis: 20%;
    margin: auto;
    padding-bottom: 20px;
}
.box--2{
    flex-basis: 20%;
    margin: auto;
    padding-bottom: 20px;
}
.box--3{
    flex-basis: 20%;
    margin: auto;
    padding-bottom: 20px;
}
.box--4{
    flex-basis: 20%;
    margin: auto;
    padding-bottom: 20px;
}
.box--5{
    flex-basis: 20%;
    margin: auto;
}
#videoboxbt{
    border-radius: 0 0 25px 25px;
}
#modalbg{
    background-color: #fff9e9;
}
#modaltitle{
    color: #413f44;
}
.modalbox{
    padding: 0 50px 0 50px;
    div{
        h5{
            color: #79b1d6;
            font-weight: bold;
        }
    }
}
.box-1{
    flex-basis: 33.3%;
}
.box-2{
    flex-basis: 33.3%;
}
.box-3{
    flex-basis: 33.3%;
}
.lineset{
    border-top:5px solid #79b1d6 ;
    padding-top: 10px;
}
.olset-1{
    li{
        color: #413f44;
        list-style-type: decimal;
        ol{
            li{
                list-style-type: lower-roman;
            }
        }
    }
}
.ulset{
    li{
        color: #413f44;
        list-style-type: lower-roman;
        ul{
            li{
                list-style-type: lower-alpha;
            }
        }
    }
}
.liset{
    padding-bottom: 10px;
}
.annotation{
    font-size: 16px;
}
.tablepr{
    text-align: center;
    margin: 10px 0 10px 0 ;
    div{
        div{
            ul{
                padding-left:30px ;
                text-align: left;
            }
        }
    }
}
.tablebg1{
    background-color: #a8a07a;
    border: 5px solid #79b1d6;
}
.tablebg2{
    border-top: 5px solid #79b1d6;
    background-color: #e3d5b0;
}
.step{
    margin-top: 10px;
}
.pictureborder{
    border: 5px solid #a8a07a;
    border-radius: 30px;
}
#pictureset-1{
    padding: 10px 10px 10px  65px;
    max-width: 250px;
}
#pictureset-2{
    margin: auto 0;
    padding: 10px;
    max-width: 250px;
    background-color: #ffffff;
}
#pictureset-3{
    margin: auto ;
    max-width: 350px;
}
#pictureset-4{
    max-width: 300px;
    max-height: 125px;
    padding: 10px;
    background-color: #ffffff;
}
#pictureset-5{
    max-width: 300px;
    max-height: 125px;
    padding: 10px;
    background-color: #ffffff;
}
#pictureset-6{
    max-width: 350px;
    background-color: #ffffff;
}
#pictureset-7{
    max-height: 150px;
    background-color: #ffffff;
    margin: 10px 0 10px 0 ;
    padding: 10px;
}
#pictureset-8{
    max-width: 350px;
    padding: 10px;
    background-color: #ffffff;
}
.tableph{
    max-width: 600px;
}
#box1{
    flex-basis: 30%;
}
#box2{
    flex-basis: 70%;
}
.pictureset-9-l{
    max-width: 200px;
    max-height: 300px;
    margin: auto ;
}
.pictureset-9-r{
    max-width: 375px;
    padding-left: 10px;
}
#pictureset-10{
    max-height: 300px;
}
#pictureset-11{
    max-height: 200px;
}
#pictureset-12{
    max-height: 165px
}
#pictureset-13{
    max-height: 165px;
}